 <div id="error-info" class="text-center card">
  <h2 class="title">Sorry, there was an error.</h2>
  <p>
    The support team has been notified.
    To provide additional information on what you were doing or to request a followup,
    <a href="mailto:support@site.com">send us an email</a>.
  </p>

  {{error-stacktrace model=model}}
</div>